 
  .Card-Form{
      font-weight: bold;
      width: 270px;
      
    }
  
 
  .Card-Form form{
    padding: 15px;  
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}
  
  
  .Card-Form input {
    border: 1px #ddd solid;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    box-decoration-break: clone;
  }
  .Card-Form input:focus{
    outline: none;
    box-shadow: none;
    border:1px black solid;
  }
  .buttonLink{
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 12px;
    background-color: var(--color-third);
    color: var(--color-primary);
    font-weight: bold;
    border: none;
    text-decoration: none;

  }
  .user-photo{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .user-photo img {
    border-radius: 50px;
  }
  .buttonLink:hover{
    transform: translateY(-2px);
  }
  
  .btn-control{
    text-align: right;
    margin-top: 20px;
  }
  
  .btn-control .btn{
    width: 50%;
    display: inline;
    border:none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
  }
  
 
 
  .gris{
    background-color: #ccc;
    color: #fff;
  }
  
  .yellowgreen{
    background-color: yellowgreen;
     color: #fff;}
  
  .contentForm i{
    position: absolute;
    font-size: 18px;
    color: #1a237e;
    padding:7px 10px;
  }