@import './assets/css/theme.css';
.App {
  text-align: center;
  padding: 0;
  /* background-color: #282c34; */
  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-secundary);
}